.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.textToAnimate {
  font-size : 5em;
}

.red {
  text-shadow: red 1px 0 10px;
}

.green {
  text-shadow: #04c900 1px 0 10px;
}

.blue {
  text-shadow: blue 1px 0 10px;
}
